<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="大作业ConnectionString2" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString3" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString4" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString5" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString6" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString7" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString8" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString9" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString10" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString11" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString12" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString13" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString14" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString15" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString16" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString17" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString18" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString19" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString20" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString21" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString22" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString23" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="大作业ConnectionString24" connectionString="Data Source=LENOVO-PC\WUKUIXIAN;Initial Catalog=大作业;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
    </system.web>

</configuration>
